@model IEnumerable<BTL.Models.Noti>
@{
    ViewData["Title"] = "Thông báo";
}

<h3 class="mt-4">Danh sách thông báo</h3>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Nội dung</th>
            <th>Thời gian</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.Message</td>
                <td>@n.CreateAt.ToString("HH:mm dd/MM/yyyy")</td>
                <td>@(n.IsRead ? "Đã đọc" : "Chưa đọc")</td>
            </tr>
        }
    </tbody>
</table>